{% if user.user_id == receta.usuario %}
    <a href="/recetas/elimina?id={{ receta.key.urlsafe() }}" class="btn-sm btn-danger"><i class="fas fa-trash"></i>&nbsp;Eliminar</a>
    <a href="/recetas/modifica?id={{ receta.key.urlsafe() }}" class="btn-sm btn-info"><i class="fas fa-edit"></i>&nbsp;Modificar</a>
{% endif %}
{% if user %}
    {% if not receta.key.id() in favoritos %}
        <a href="/favoritos/add_favorito?id={{ receta.key.urlsafe() }}" class="btn-sm btn-warning"><i class="far fa-star"></i>&nbsp;Favorito</a>
    {% else %}
        <a href="/favoritos/elimina?id={{ receta.key.urlsafe() }}" class="btn-sm btn-warning" role="button" ><i class="fas fa-star"></i>&nbsp; Favorito</a>
    {% endif %}
{% endif %}